

       <div class="navbar">
        <div id="mySidepanel" class="sidepanel">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/matches">MATCHES</a>
          <a href="/teams">TEAMS</a>
          <a href="/scores">SCORES</a>
          <a href="/statistics">STATISTICS</a>
          <a href="/players">PLAYERS</a>
        </div>
        <button id="mobile-nav-open" class="header-icon" onclick="openNav()">
          <img id="menu-svg" src="/images/menu_icon.svg">
        </button>  
        <script>
          function openNav() {
           document.getElementById("mySidepanel").style.width = "250px";
         }
         function closeNav() {
           document.getElementById("mySidepanel").style.width = "0";
         }
         </script> 


          <!-- <div class="navbar"> -->
                <div class="navbar-logo">
                    <img src="/images/Logo@2x.png" alt="" width="59" height="59">
                    <a href="#home" class="nav-item nav-button nav-wide"> Patras League </a>
                </div>
                
                <!-- <div class="nav-center-left">
                    <div class="navlink"><a class="matches" href="#matches"><span><i class="fa fa-futbol-o" aria-hidden="true"></i> MATCHES</span></a></div>
                    <div class="navlink"><a href="#teams"><i class="fa fa-users" aria-hidden="true"></i> TEAMS</a></div>
                    <div class="navlink"><a href="#scores"><i class="fa fa-th"></i> SCORES</a></div>
                    <div class="navlink"><a href="#statistics"><i class="fa fa-bar-chart" aria-hidden="true"></i> STATISTICS</a></div>
                    <div class="navlink"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> PLAYERS</a></div>
                </div> -->
                <div class="nav-right">
                  <ul>
                    <li>
                      <button class="sign-in" id="signinbtn">
                        <a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="50" height="50" 
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" 
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M7 12h14l-3 -3m0 6l3 -3" />
                            </svg>
                          <p><strong>Log out</strong></p>
                        </a>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="side-nav">


                <button class="admin-btn" onclick=" location.href='/admin-update/playins-reset' ">Reset Play-ins Matches & Bracket</button>
               
                {{!-- <div class="update-div"> --}}

                    {{!-- <select class="selectd" required style="font-size:x-large; border :4px solid gray; border-radius:8px; width:10em;">
                        <option value="" disabled selected> Select Game</option>
                    {{#each gameinfo}}
                        <option name="Game" value="">{{this.GameID}} {{this.HomeTeam}} vs {{this.AwayTeam}} </option>
                    {{/each}}
                    </select> --}}
                    {{!-- <button class="admin-btn" style="visibility:hidden" onclick=" location.href='/admin-update/game-update' ">Update Game</button>

                </div> --}}

            <div class="player-div">
                 
                <form class="mp-form" method="POST" action="/game-update"> 
                    <select class="selectd" name="GameID" required style="font-size:x-large; border :4px solid gray; border-radius:8px; width:10em;">
                        <option value="" disabled selected> Select Game</option>
                    {{#each gameinfo}}
                        <option value="{{this.GameID}}">{{this.GameID}} {{this.HomeTeam}} vs {{this.AwayTeam}} </option>
                    {{/each}}
                    </select>

                    <div class="players-home">

                        <div class="mp-form">
                        <input type="text" name="Home1" placeholder="Player Home" >
                        </div>

                    </div>

                    <div class="players-away">

                        <div class="mp-form">
                        <input type="text" name="Away1" placeholder="Player Away" >
                        </div>

                    </div>

                    <button class="admin-btn areac" onclick=" location.href='/admin-update/game-update' ">Update Game</button>

                </form>
            </div>

       
       
        <!-- 
                <button class="admin-btn" onclick=" location.href='/public/html/admin-requests' ">Manager Requests </button>      
                <button class="admin-btn" onclick=" location.href='/public/html/update-game.html' ">Update Match </button>
                <button class="admin-btn" onclick=" location.href='/public/html/draw.html' ">Draw Basket / Standings </button>
         -->
            </div>
        
